%p#notice= notice
%h1 My twet feed
%br/
%table
  %thead
    %tr
      %th{:colspan => "1"}
  %tbody
    - @feed.each do |twet|
      %tr
        %h3= twet.user_name.humanize
        %p= twet.message
        

